@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-abt {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(221, 221, 221, 1), rgba(221, 221, 221, 1), rgba(221, 221, 221, 1), rgba(221, 221, 221, 0));
  margin-bottom: calc(100vh / 5);
  padding-bottom: 100px;
}
.container-abt {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
  padding-right: 50px;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  flex: 40%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .container-abt {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    padding-right: 0;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}
.card-abt {
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 100%;
  transform: scale(1.2);
}

.card-abt p {
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  text-align: center;
}

.name {
  margin-top: 80px;
  font-size: 1.4em;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}

.bungkus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 100px;
  margin-bottom: 150px;
}
